/Insomnium
/Thunar
/VSCodium
/btop
/caja
/compiz-1
/create-next-app-nodejs
/dconf
/enchant
/evolution
/hexchat
/htop
/lazygit
/lvim
/mate
/mate-session
/menus
/micro
/mimeapps.list
/mintmenu
/monitors.xml
/neofetch
/nextjs-nodejs
/procps
/pulse
/qterminal.org
/user-dirs.dirs
/user-dirs.locale
/yelp